@import "../../variables.modules";

.createTitle {
  font-size: 5rem;
  text-align: center;
  @media only screen and (min-width: 940px) {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 4rem;
  }
}

.text {
  text-align: left;
  font-size: 0.8rem;
  margin-right: 5%;
  margin-bottom: 10px;
  width: 100%;
  z-index: 1;
  position: relative;
}

.text h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.text h4 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.subBtn {
  font-size: 1rem;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.rectangle {
  position: relative;
  width: 900px;
  height: 400px;
  background: linear-gradient(135deg, rgba(227, 16, 100, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 20px;
  border: 2px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.formMsg {
  width: 48%;
  height: calc(100% - 40px);
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
}
